{% extends 'home.html' %}

{% block title %}
    Pizza Salgadas
{% endblock %}

{% block content %}
    <h1>Pizza Salgadas</h1>
    <ul>
            {% for produto in produtos %}
                <li>
                   <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{produto.imagem.url}}" alt="Imagem de capa do card">
  <div class="card-body">
    <h5 class="card-title">Pizzas Calabresa</h5>
    <p class="card-text">Pizzas prontas e quente a qualquer hora do dia! (R$10) </p>
    <a href="#" class="btn btn-primary">Compre logo</a>


</div>
                </li>
            {% empty %}
                <p>Nenhum produto encontrado</p>
            {% endfor %}
        </ul>

{% endblock %}

