{% extends 'home.html' %}

{% block title %}
    Pizza Salgadas
{% endblock %}

{% block content %}
    <h1>Pizza Salgadas</h1>
    <ul class="list-unstyled">
        {% for produto in produtos %}
            <li class="mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                         src="{{ produto.imagem.url }}"
                         alt="Imagem de {{ produto.nome }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ produto.nome }}</h5>
                        <p class="card-text">Pizzas prontas e quentes a qualquer hora do dia! (R${{ produto.preco }})</p>
                        <a href="{% url 'addcarrinho' produto.id %}" class="btn btn-primary">Compre logo</a>
                    </div>
                </div>
            </li>
        {% empty %}
            <p>Nenhum produto encontrado</p>
        {% endfor %}
    </ul>
{% endblock %}



